
/* -----------GENERAL--------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after{
    content: "";
    display: table;       
    clear: both;
}

body{
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

.dim{
    width: 60%;
    height: 450px;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.border{
    border: black 2px dashed;
}

.bt-small{
    border-radius: 20px;
    border: none;
    padding: 0.6rem 0.7rem;
    cursor: pointer;
}

.bt-medium{
    border-radius: 30px;
    border: none;
    padding: 1rem 1.4rem;
    cursor: pointer;
}

.container-dim{
    height: 700px;
}

.big-txt{
    font-size: 3.3rem;
}

.medium-txt{
    font-size: 1.8rem;
}

.small-txt{
    font-size: 1.3rem;
}

.smaller-txt{
    font-size: 1.2rem;
}

.center-txt{
    text-align: center;
}

.reverse-row{
    flex-direction: row-reverse;
}

.gray{
    background-color: #f6f6f6;
}

.whiteTxt{
    color: white;
}

.darkTxt{
    color: #232729;
}

.blue-txt{
    color: #8ea1e1;
}

.white-bt{
    background-color: white;
    color: #232729;
}

.dark-bt{
    background-color: #232729;
    color: white;
}

.blue-bt{
    background-color: #8ea1e1;
    color: white;
}


/* --------------HEADER---------------- */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.top-header,
nav{
    width: 60%;
}

header>div{
    height: 5rem;   
}

ul{
    list-style-type: none;
    width: 80%;
    justify-content: space-around;
}

header li{
    color: white;
    cursor: pointer;
}

.logo,
.login{
    width: 20%;
    align-items: center;
    padding: 0.5rem;
}

.login{
    justify-content: flex-end;
}

.header-bottom{
    height: 530px;
}

.header-bottom > div{
    width: 1000px;
    height: 350px;
}

.header-bottom p{
    padding: 2rem 5.5rem;
    line-height: 2rem;
}

.header-bottom nav{
    width: 100%;
}

.header-bottom button{
    margin: 0 1rem;
}

/* ---------MAIN------------*/

.img1{
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img2{
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img3{
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.skyblue-box{
    width: 60%;
}

.lightpink-box{
    width: 40%;
    padding: 0 3rem;
}

.lightpink-box p{
    padding-top: 2rem;
    line-height: 1.8rem;
}

.big{
    padding: 3rem;
}

.big h2{
    padding: 0 2.5rem;
}

.big h3{
    padding: 2.5rem;
    width: 50%;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.big p{
    padding: 1rem 2.5rem;
}

.big-img{
    height: 700px;
    width: 100%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.green{
    height: 1100px;
    flex-direction: column;
    align-items: center;
}


/* ----------FOOTER--------- */

footer{
    background-color: #23272a;
}

hr{
    background-color: white;
}

.first-footer{
    height: 500px;
    padding-top: 10px;
    justify-content: center;
}

.darkpink h4,
.darkpink span{
    padding: 1.5rem 0;
}

.darkpink h4{
    font-size: 2.2rem;
}

.darkpink img{
    vertical-align: middle;
    height: 1rem;
}

.first-footer>div{
    height: 600px;
}

.darkpink{
    width: 30%;
}

.columns{
    width: 70%;
}

div.columns>div{
    width: calc(100% / 4);
}

.columns ul{
    list-style-type: none;
    margin-top: 1.7rem;
}

.columns li{
    padding: 0.3rem 0;
    cursor: pointer;
}

footer>div{
    width: 60%;
    height: 2px;
    margin: 0 auto;
    background-color: #8ea1e1;    
}

.last-footer{
    height: 9rem;
    justify-content: center;
    /* align-items: center; */
    padding-top: 2rem;
}

.lightgreen{
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    height: 80%;
    width: 15%;
}

/* .button{
    height: 1.8rem;
    padding: 0.5rem;
} */